@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
     font-family: "Comfortaa", sans-serif;
}
.parent{
    position: relative;
    border: 1px solid black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle{
    width: 850px;
    height: 850px;
    background-color: #476EF7;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -50px;
    z-index: 1;
}
.header-home{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 18px;
    padding: 0px 25px;
}
.logo{
    margin-left: 90px;
    font-size: xx-large;
}
#clickherebtn{
    color: #476EF7;
    background:  white ;
    font-size: 23px;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.75);
    margin-right: 26px
}
#name{
    color: #476EF7;
    font-size: 150px;
}
.form-floating{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
   
}
#loginbtn{
     color: white ;
    background: #476EF7 ;
    padding: 5px 25px;
     box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}
.main-continer{
   width: 60%;
}
.main-content-text{
    font-size: 50px;
    margin-bottom: 40px;
}
.form-floating{
    width: 90%;
}

@media only screen and (max-width:768px) {
    .solid-circle{
        background-color: black;
        width: 350px;
        height: 350px;
        right: -190px;
        top: -160px;
    }
    #name{
    color: black;
    font-size: 100px;
    }
    #loginbtn{
    background: black ;
    }
    .logo{
    margin-left: 0;
    font-size: large;
    }
    #clickherebtn{
    margin-right: -10px;
    font-size: 18px;
    color: black;
    }
    .main-content-text{
    font-size: 23px;
    margin-bottom: 0px;
    }
    .main-continer{
    width: 90%;
    }
}