@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
     font-family: "Comfortaa", sans-serif;
}
.header{
    background-color: #476EF7;
    color: white;
    padding: 10px 0px;
    font-size: x-large;
}
.header p{
    padding-left: 40px;
}
.input-form{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #476EF7(0,0,0,0.25);
    margin-top: 10px;
    padding: 25px 9px;
    column-gap: 5px;
    row-gap: 10px;

}
#add-btn{
    color: white ;
    background: #476EF7 ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    border: none;
}
#inputs{
    width: 30%;
}
.cards{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 10px;
    
}
.card{
    background: #476EF7 ;
    border: none;
    height: 150px;
    width: 18rem;
}
.card-body{
    color: white ;
    text-align: center;
}
.transtion-table{
    border-radius: 10px;
    border: 1px solid black;
    width: 95%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    font-weight: 900;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    padding: 0;
    margin-bottom: 30px;
}
#header-row{
    background-color: #476EF7;
    color: white ;
}
#header-row th{
    padding: 15px 10px;
}
.transtion-table td{
    color: black;
    font-size: large
}

@media only screen and (max-width:768px) {
   .header{
    background-color: black;
}
.input-form{
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#inputs{
    width: 75%;
}
#add-btn{
    color: white ;
    background: black ;
    width: 75%;
    height: 50px;
    border-radius: 10px;
}
.cards{
    justify-content: center;
    
}
.card{
    background: black ;
    width: 100%;
}
#header-row{
    background-color: black;
}
}